.form-inline, .input, .assetTable {
  width: 100%;
}

.name {
  width: 23%;
}

.value {
  width: 15%;
}

.category {
  width: 17%;
}

.note {
  width: 30%;
}

.action-button-container {
  display: inline;
}
