<div class="dropdown mb-4">
  <a class="btn btn-success dropdown-toggle" href="#" role="button" id="selectComponent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select a Component
  </a>
  <div class="dropdown-menu" aria-labelledby="selectComponent">
    <a class="dropdown-item" (click)="onClick('assets')">Assets Tracker</a>
    <a class="dropdown-item" (click)="onClick('liabilities')">Liabilities Tracker</a>
    <a class="dropdown-item" (click)="onClick('goals')">Goals Tracker</a>
    <a class="dropdown-item" (click)="onClick('budget')">Budget Tracker</a>
  </div>
</div>

<div [ngSwitch]="selectedComponent">
  <app-assets *ngSwitchCase="'assets'"></app-assets>
  <app-liabilities *ngSwitchCase="'liabilities'"></app-liabilities>
  <app-budget *ngSwitchCase="'budget'"></app-budget>
  <app-goals *ngSwitchCase="'goals'"></app-goals>
</div>
