.form-inline, .input, .liabilityTable {
  width: 100%;
}

.name, .balance {
  width: 15%;
}

.category, .interestRate {
  width: 10%;
}

.note {
  width: 20%;
}

.action-button-container {
  display: inline;
}
